extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ? Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name insert here 
        h1 Urenwa Nwokiwu

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi my name is Urenwa Nwokiwu, I am currently getting trained by Treehouse to receive a Full Stack Java Script TechDegree to be a Full Stack developer. 
            br
            | My previous experience as a IT professional helps me grasp some of the technologies that we are currently using.
            br
            | I have learned a lot of different ways to do coding with these projects. 
            br
            |If you have any questions, please feel free to email me at unwokiwu@gmail.com. 
            |Thank you and I hope to hear from you soon.
             
         .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills 

        //- List of my Skills
        ul
          li HTML
          li CSS
          li Javascript
          li Jquery
          li Object-Oriented Programming 
          li API
          li Node.js
          li Express
          li Pug
          li JSON
          

          h6 My Contact Info

        //- My Contact info
        ul
          li Phone: 732-338-9775
          li Email Address: unwokiwu@gmail.com 

        //- These are my social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/urenwanwokiwu1/') LinkedIn 
        a.button.expanded(href='https://github.com/ITLady01') GitHub
        a.button.expanded(href='https://teamtreehouse.com/urenwanwokiwu') Team Treehouse
nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  