extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Add Heading 
      h1 Winnie's List of Athena Projects

      //- Description of my portfolio 
      p.lead.text-light
        | This portfolio is meant to demonstrate my skills and growth as a Full Stack         JavaScript Developer.
        br
        | The portfolio website will demonstrate all my coding skills.
        br
        | Please feel free to look at my projects. If there are any questions, contact me     via email.
        article.grid-container.portfolio-index
    
        //-  Pug for each project  
      .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
        each project in projects
          .cell
            a(href=`/project/${project.id}`)
              img.thumbnail(src=`${project.image_Links[0]}`)
              h5 #{project.project_Title}
